#instructions {
    color: #2b2b2b;
    background-color: #d0e3ec;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px #6f90d3;

}

#italic {
    font-style: italic;
}

